In [24]:

from multipledispatch import dispatch

In [27]:
class dropColumns:

    #passing one parameter
    @dispatch(int,int)
    def product(first,second):
        result = first*second
        print(result);

    #passing two parameters
    @dispatch(int,int,int)
    def product(first,second,third):
        result  = first * second * third
        print(result);

    #you can also pass data type of any value as per requirement
    @dispatch(float,float,float)
    def product(first,second,third):
        result  = first * second * third
        print(result);

In [28]:
obj = World

In [30]:
#calling product method with 2 arguments
obj.product(2,3) #this will give output of 12
obj.product(2.2,3.4,2.3) # this will give output of 17.985999999999997

TypeError: product() missing 1 required positional argument: 'c'

In [31]:
#passing one parameter
@dispatch(int,int)
def product(first,second):
    result = first*second
    print(result);

#passing two parameters
@dispatch(int,int,int)
def product(first,second,third):
    result  = first * second * third
    print(result);

#you can also pass data type of any value as per requirement
@dispatch(float,float,float)
def product(first,second,third):
    result  = first * second * third
    print(result);

In [32]:
obj.product(2,3) #this will give output of 12
obj.product(2.2,3.4,2.3) # this will give output of 17.985999999999997

TypeError: product() missing 1 required positional argument: 'c'

In [36]:
class drop_columns:
    def area(self, x=None, y=None):
          if x!=None and y!=None:
              return x*y
          elif x!=None:
              return x*x
          else:
              return 0

0

In [37]:
obj = Compute()
obj.area()
obj.area(2,8)

16

In [38]:
obj.area(6)

36

In [ ]:
class Character(object):
    # your character __init__ and other methods go here

    def add_bullet(self, sprite=default, start=default, 
                 direction=default, speed=default, accel=default, 
                  curve=default):
        # do stuff with your arguments

In [26]:
class dropColumns(object):
    def removeColsByAttr(self, *args, **kwargs):
        # Call the function that has the same number of non-keyword arguments.
        getattr(self, "_overloaded_function_impl_" + str(len(args)))(*args, **kwargs)

    def removeColByName(self, colName):
        print( "Removing Column By Column Name"+colName)
        
#     def removeColByIndex(self, sprite, script):
#         print ("This is overload 2")

In [28]:
test = dropColumns()

In [ ]:
test.removeColsByAttr

In [90]:
import pandas as pd

d1 = {'Name': ['Pankaj', 'Meghna', 'David'], 'ID': [1, 2, 3], 'Role': ['CEO', 'CTO', 'Editor']}

source_df = pd.DataFrame(d1)

print(source_df)

     Name  ID    Role
0  Pankaj   1     CEO
1  Meghna   2     CTO
2   David   3  Editor

In [91]:
class dropColumns(object):
    def removeColByName(self,source_df,colName):
        source_df.drop(columns=colName,inplace =True)
        return source_df
    def removeMultipleColsByName(self,source_df,colName):
        source_df.drop(columns=colName,inplace =True)
        return source_df
    def removeSingleColByIndex(self,source_df,indexNum):
        source_df.drop(source_df.columns[[indexNum]],inplace =True,axis = 1)
        return source_df
    def removeMultiColByIndex(self,source_df,indexNums):
        source_df.drop(source_df.columns[[indexNums]],inplace =True,axis = 1)
        return source_df
    def removeColumnsByCondition(self,)

In [92]:
test = dropColumns()

In [93]:
test.removeSingleColByIndex(source_df,0)

   ID    Role
0   1     CEO
1   2     CTO
2   3  Editor

In [ ]:
test.removeSingleColByIndex(source_df,0)

In [81]:
coltoDel = test.removeColByIndex(source_df,0)
coltoDel

     Name  ID    Role
1  Meghna   2     CTO
2   David   3  Editor

In [82]:
technologies= {
    'Courses':["Spark","Spark","PySpark","JAVA","Hadoop",".Net","Python","AEM","Oracle","SQL DBA","C","WebTechnologies"],
    'Fee' :[22000,25000,23000,24000,26000,30000,27000,28000,35000,32000,20000,15000],
    'Duration':['30days','35days','40days','45days','50days','55days','60days','35days','30days','40days','50days','55days']
          }
df = pd.DataFrame(technologies)
print(df)

            Courses    Fee Duration
0             Spark  22000   30days
1             Spark  25000   35days
2           PySpark  23000   40days
3              JAVA  24000   45days
4            Hadoop  26000   50days
5              .Net  30000   55days
6            Python  27000   60days
7               AEM  28000   35days
8            Oracle  35000   30days
9           SQL DBA  32000   40days
10                C  20000   50days
11  WebTechnologies  15000   55days

In [47]:
source_df = test.removeColByName(source_df,['ID','Role'])
source_df

     Name
0  Pankaj
1  Meghna
2   David